.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(0deg, #182848, #2980b9);

  .ripple_header {
    min-height: 100vh;
    background-color: #42a5f5;
    position: relative;
    //overflow: hidden;
  }

  .ripple {
    height: 20vh;
    width: 20vh;
    position: absolute;
    left: 50%;
    bottom: 50%;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translate3d(-50%, 50%, 0);
    animation-name: ripple;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    will-change: transform, opacity;

    &:nth-child(1) {
      animation-delay: 0;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 1s;
    }
    &:nth-child(4) {
      animation-delay: 1.5s;
    }
    &:nth-child(5) {
      animation-delay: 2s;
    }
    &:nth-child(6) {
      animation-delay: 2.5s;
    }
  }

  @keyframes ripple {
    from {
      opacity: 0.8;
    }
    to {
      width: 100vh;
      height: 100vh;
      border-width: 1px;
      opacity: 0;
    }
  }

  .circle[animationloading="1"] {
    -webkit-animation: spin 3s ease-in-out infinite;
    -moz-animation: spin 3s ease-in-out infinite;
    animation: spin 3s ease-in-out infinite;

    .foregroundCircle {
      -webkit-animation: counterSpin 3s ease-in-out infinite;
      -moz-animation: counterSpin 3s ease-in-out infinite;
      animation: counterSpin 3s ease-in-out infinite;
    }

    @keyframes counterSpin {
      100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
      }
    }
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  //   .ripple,.ripple:before,.ripple:after {
  //   display:block;
  //   border-radius:2px;
  //   width:2px;
  //   height:2px;
  //   -webkit-animation:rip 6s infinite ease-out;
  //   -moz-animation:rip 6s infinite ease-out;
  // }
  // .ripple {
  //   position:absolute;
  //   // z-index:-1;
  //   top: 50%;
  //   left: 50%;
  // }
  // .ripple:before,.ripple:after {
  //   content:'';
  //   position:absolute;
  // }
  // .ripple:before {-webkit-animation-delay:.2s;-moz-animation-delay:.2s;top:5px;left:25px;}
  // .ripple:after {-webkit-animation-delay:.8s;-moz-animation-delay:.8s;top:25px;left:0;}
  // @-webkit-keyframes rip
  // {
  //   0%  {
  //     box-shadow:0 0 0 0 transparent,
  //                0 0 0 0 transparent,
  //                0 0 0 0 transparent,
  //                0 0 0 0 transparent;
  //   }
  //   15%  {
  //     box-shadow:0 0 0 0 #45c2c5,
  //                0 0 0 0 rgba(255,255,255,0.4),
  //                0 0 0 0 #45c2c5,
  //                0 0 0 0 rgba(0,0,0,0.08);
  //   }
  //   100% {
  //     box-shadow:0 0 40px 200px #45c2c5,
  //                0 0 10px 210px transparent,
  //                0 0 30px 220px #45c2c5,
  //                0 0 5px 230px transparent;
  //   }
  // }
  // @-moz-keyframes rip
  // {
  //   0%  {
  //     box-shadow:0 0 0 0 transparent,
  //                0 0 0 0 transparent,
  //                0 0 0 0 transparent,
  //                0 0 0 0 transparent;
  //   }
  //   15%  {
  //     box-shadow:0 0 0 0 #45c2c5,
  //                0 0 0 0 rgba(255,255,255,0.4),
  //                0 0 0 0 #45c2c5,
  //                0 0 0 0 rgba(0,0,0,0.08);
  //   }
  //   100% {
  //     box-shadow:0 0 40px 200px #45c2c5,
  //                0 0 10px 210px transparent,
  //                0 0 30px 220px #45c2c5,
  //                0 0 5px 230px transparent;
  //   }
  // }

  .circle {
    position: absolute;
    overflow: hidden;
    background-image: url("/assets/buoy.png");
    background-size: contain;
    height: 80vh;
    width: 80vh;
    max-width: 90vw;
    max-height: 90vw;
    display: flex;
    flex-direction: "column";
    justify-content: center;
    align-items: center;

    .foregroundCircle {
      display: flex;
      flex-direction: "column";
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(0deg, #182848, #2980b9);
      border-radius: 30vh;
      max-width: 65vw;
      max-height: 65vw;
      height: 55vh;
      width: 55vh;
      form {
        display: flex;
        flex-direction: column;
        input {
          background-color: #246698;
          border: 2px solid white;
          color: rgb(235, 235, 235);
          border: 0;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 1.8vh;
          padding: 2.3vh;
          border-radius: 1vw;
          color: white;
        }

        input::placeholder {
          color: white;
        }

        input:focus {
          outline: none;
        }

        button {
          background-color: #2e78aa;
          color: rgb(235, 235, 235);
          border: 0;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 1.8vh;
          padding: 2.3vh;
          margin-right: 3vw;
          margin-left: 3vw;
          border-radius: 1vw;
          cursor: pointer;
        }

        p {
          font-family: "Montserrat";
          text-align: center;
          margin-top: 1vw;
          font-weight: 600;
          font-size: 0.8em;
          user-select: none;
          cursor: pointer;
        }
      }
    }
  }
}

.spaceH {
  height: 2vh;
}

.wave {
  margin-top: 70vh;
  position: relative;
  opacity: 0;
  top: 0;
  width: 2px;
  height: 1px;
  border: #fff 7px solid;
  -moz-border-radius: 30vh;
  -webkit-border-radius: 30vh;
  border-radius: 30vh;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -1.1vh;
  left: -1.1vh;
  width: 2px;
  height: 1px;
  border: #fff 5px solid;
  -moz-border-radius: 30vh;
  -webkit-border-radius: 30vh;
  border-radius: 30vh;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 20vh;
    left: 20vh;
    top: 20vh;
    height: 20vh;
    border-width: 1px;
  }
}
