@use "_variables.scss" as *;


.waves {

    position: absolute;
    bottom: -20%;
    width: 120%;
    left: -10%;

    .wave {

        position: absolute;
        bottom: -20%;

        &:nth-child(1) { 
            fill: $waveBaseColor; 
        }
    
        &:nth-child(2) { 
            fill: adjust-hue($waveBaseColor, 15deg); 
        }
    
        &:nth-child(3) { 
            fill: adjust-hue($waveBaseColor, 30deg); 
            margin-top: 5%;
            bottom: -20% !important;
        }
        
    }
}

.sunLayer {

    width: 120vw;
    z-index: -1;
    
    display: flex !important;
    justify-content: center;

    .sun {

        position: absolute;
        height: 100vh;
        z-index: -1 !important;
    }
}

