@use '_variables' as *;
@use 'sass:color';

.navbar {

    position: fixed;
    top: 0;

    height: $navbarHeight;
    width: 100%;

    padding: 1rem;

    display: flex;
    justify-content: space-between;

    .home {

        
    }

    .right {


        .search {


        }
    
        .login {
    
            background-color: rgb(97, 97, 255);
            padding: .5rem;
            border-radius: 5px;
        }
    }

}